#comment{
    font-size: 3.5rem;
    background-color: transparent;
    border-color: transparent;
}


#comment:hover{
    background-color: #282c34;
    color: whitesmoke;
    border-radius: 2rem;
    inline-size: fit-content;
}