.Film {
    align-items: center;
    text-align: justify;
    color: black;
}
 #like-button{
    font-size: 3.5rem;
    background-color: transparent;
    border-color: transparent;
}

#like-button:hover {
    background-color: #282c34;
    color: whitesmoke;
    border-radius: 2rem;
    inline-size: fit-content;
}

.seeComment {
    font-size: 1rem;
    background-color: cornflowerblue;
    color: whitesmoke;
    inline-size: fit-content;
    border-radius: 2rem;
    border-color: transparent;
}

.commentSection {
    display: flex;
    flex-direction: row;
    padding: 4px;
}

button:hover{
    background-color: #282c34;
    color: whitesmoke;
    border-radius: 2rem;
    inline-size: fit-content;
}